<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <a routerLink="/panel" class="navbar-brand">Book store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto" *ngIf="isLogin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/panel" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
      </li>
    </ul>
  </div>

  <span class="ml-auto mr-3 navbar-text" *ngIf="isLogin">
    {{ userName }}
  </span>

  <button class="btn btn-danger" *ngIf="isLogin" (click)="logout()">Logout</button>

  <a routerLink="/login" class="btn btn-warning" *ngIf="!isLogin">Login</a>
  <a routerLink="/register" class="btn btn-success ml-3" *ngIf="!isLogin">Register</a>
</nav>
